<table class="uk-table uk-table-divider table-list">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Data de nascimento</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of listaPessoas">
      <td>{{ pessoa.name }}</td>
      <td>{{ pessoa.email }}</td>
      <td>{{ pessoa.phone }}</td>
      <td>{{ pessoa.birthDate | date : "dd/MM/yyyy" }}</td>
      <td><span uk-icon="pencil" (click)="editarPessoa(pessoa)" style="cursor: pointer"></span></td>
      <td><span uk-icon="trash" (click)="removerPessoa(pessoa)" style="cursor: pointer"></span></td>
    </tr>
  </tbody>
</table>
